
  <head>
    <title>{{Login}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
   
     <footer> Diseñado por Cecilia Mendoza </footer>
     </body>
 

